{% extends "base.html" %}
{% block content %}
    <h2> Categories: </h2>

    <div class="">
        <div class="row">
            <div class="col-xs-12 container">
                <div class="category-list">
                    {% for category in cat_list %}
                        <div class="category-item col-xs-offset-2 col-sm-3"><a href="{{ url_for('list_items', category=category.lower()) }}">
                            <img src="/static/placeholder.jpg" class="img-responsive" alt="{{ category }}"/>
                            <p>{{ category }}</p>
                        </a></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}