{% extends "base.html" %}
{% block content %}
<center>
    <form action="">
        Number of products:
        <input type="text" name="show">
        <input type="submit" value="Submit">
    </form>
</center>
  <h2> Category: {{ category }} </h2>
<center>
  <table class="ProductList">
  	<tr>
  	  <th>IMG</th>
  	  <th>Name</th>
  	  <th>Score</th>
  	</tr>
  	{% for product in products %}
  	<tr>
  	  <td><img src="/static/placeholder.jpg" alt="{{ product.name }}"  height="42" width="42"/></td>
  	  <td><a href="{{ url_for('show_product', category=category.lower(), pid=product.id) }}">
      {{ product.name }}</a></td>
      
  	  <td>{{ product.superscore }}</td>
      
  	</tr>
  	{% endfor %}
  </table>
</center>

{% endblock %}
