body {
    font-family: 'Source Sans Pro', sans-serif;
    /*font-family: 'Droid Sans', sans-serif;*/
    font-size: 16px;
    line-height: 24px;
}

.a-background {
  background: #d3d3d3;
}

.content {
  margin-bottom: 12px;
}

.margin-topbot {
  margin-top: 24px;
  margin-bottom: 24px;
}

.title {
  margin: 6px auto 0 auto;
  position: relative;
  text-align: center;
  padding-top: 24px;
}

.sub-title {
  margin: 0; padding: 0; border: 0;
}

.nav li {
  display: inline;
  float: left;
}

ul > li > p:hover, p:focus, p:visited, a:hover, a:focus, a:visited {
  text-decoration: none;
  color: black;
}

.category-item {  .category-list li
  padding: 8px;
  text-align: center;
  display:inline-block;
  margin-bottom: 8px;
  margin-top: 12px;
  position: relative;
}

.category-item p {
  background: #eee;
}

.category-item a {
  text-decoration: none;
  color: #000;
  position:relative;
}

.product-list {
  position: relative;
  margin: 1em 0;
  min-width: 600px;
}
.product-list td th {
  text-align: left;
}

.product-list a, a:visited {
  text-decoration: none;
  color: #000;
}

.scores {
  border-spacing: 0.5rem;
  border-collapse: collapse;
}

.scores tr {
  text-align: center
}

.scores tr [colspan="2"] {
  text-align: center;
}

.scores td {
  padding: 5px;
}
